* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}


.container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    background: #fff;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

/* Left Section */
.left {
    width: 50%;
    padding: 60px 50px;
    text-align: center;
}

.left h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.left p {
    color: #666;
    margin-bottom: 30px;
}

.left input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    background: #ddd;
    font-size: 15px;
    font-weight: 500;
}

.btn-signin {
    width: 60%;
    padding: 12px;
    background: #F4D300;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-signin:hover {
    background: #e5c000;
}

/* Right Section */
.right {
    width: 50%;
    padding: 40px 30px;
    text-align: center;
    background: linear-gradient(to bottom, #FEEF01, #ffe600cb 66%, white 100%);
    position: relative;
}

.logo {
    width: 160px;
    margin-bottom: 0;
}

.right h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.right p {
    margin-bottom: 25px;
    font-weight: 500;
}

.btn-signup {
    font-weight: 600;
    padding: 12px 40px;
    background: #ffe600cb 66%;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.btn-signup:hover {
    background: #FFFFFF;
}